<% @user.recent_posts.each do |post| %>
    <%= link_to user_post_path(@user.id, post.id) do %>
      <div class="user-recent-post">
        <p class="post-title"><strong>Post</strong> : <%= post.title %></p>
        <p class="post-text"><%= post.text %></p>
        <h3 class="counters">Comments: <%= post.comments_counter %></h3>
        <h3> Likes: <%= post.likes_counter %> </h3>
      </div>
    <% end %>
<% end %>