<section class="post-container">
  <div class="container">
    <div class="image-container">
      <img src=<%= @user.photo %> class="img-contained" />
    </div>
    <div class="txt-container">
      <span class="txt-box"><%= @user.name %></span>
      <span class="posts-count">
        Posts Count: <%= @user.posts.length %>
      </span>
    </div>
  </div>
  <p class="user-bio"><%= @user.bio %></p>
      <%= render "users/users_bio" %>
      <div class="btn-container">
        <button class="link-btn">
          <%= link_to "See all posts", user_posts_path(@user), class:"text-button" %>
        </button>
      </div>
    </section>