<section>
  <%= link_to "Create new Post", new_user_post_path(@user) %>
  <div class="container">
    <div class="image-container">
      <img src=<%= @user.photo %> class="img-contained" />
    </div>
    <div class="txt-container">
      <span class="txt-box"><%= @user.name %></span>
      <span class="posts-count">
        Posts Count: <%= @user.posts.length %>
      </span>
    </div>
  </div>
  <div class="user-posts">
    <% @user.posts.each do |post| %>
      <div class="post-data">
        <h2 class="post-title"><%= link_to post.title, user_post_path(@user, post) %></h2>
        <section class="counters">
          Comments: <%= post.comments_counter || 0 %>
          Likes: <%= post.likes_counter || 0 %>
        </section>
      </div>
    <% end %>
  </div>
</section>