<section>
  <%= link_to "Create new Post", new_user_post_path(@user) %>
  <div class="container">
    <div class="image-container">
      <img src=<%= @user.photo %> class="img-contained" />
    </div>
    <div class="txt-container">
      <span class="txt-box"><%= @user.name %></span>
      <span class="posts-count">
        Posts Count: <%= @user.posts.length %>
      </span>
    </div>
  </div>
  <div class="user-posts">
    <% @user.posts.includes([:comments]).each do |post| %>
      <div class="post-data">
        <h2 class="post-title"><%= link_to post.title, user_post_path(@user, post) %></h2>
        <p class="text-center">
          <%= post.text %>
        </p>
        <section class="counters">
          Comments: <%= post.comments_counter || 0 %>
          Likes: <%= post.likes_counter || 0 %>
        </section>
        <section class="counters">
          <% post.comments.each do |comment|%>
            <% if comment %>
              <p class="comment-author">
              <%= comment.author.name %>
            </p>
            <p class="comment-author text-center">
              <%= comment.text %>
            </p>
            <% else %>
              <p class="text-center">No comments for this post yet :(</p>
            <% end %>
          <% end %>
        </section>
      </div>
    <% end %>
  </div>
</section>